<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rocksmith2014Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Rocksmith2014Backup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Rocksmith2014Backup.Properties.Settings>
            <setting name="FirstTimeSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoBoot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BootDelay" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BackupsToKeep" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SteamID" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SteamInstallDir" serializeAs="String">
                <value>C:\Program Files (x86)\Steam</value>
            </setting>
            <setting name="BackupDir" serializeAs="String">
                <value>C:\Games\Rocksmith 2014 Backup</value>
            </setting>
            <setting name="DeleteAfterRestore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IdleMode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RsExec" serializeAs="String">
                <value>Game.exe</value>
            </setting>
        </Rocksmith2014Backup.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Rocksmith2014Backup.Properties.Settings>
            <setting name="RocksmithSteamID" serializeAs="String">
                <value>221680</value>
            </setting>
            <setting name="ResetDebug" serializeAs="String">
                <value>True</value>
            </setting>
        </Rocksmith2014Backup.Properties.Settings>
    </applicationSettings>
</configuration>